html {
	text-align: center;
}

.fileContainer {
	border-width: 5px;
	border-style: solid;
	border-color: #aaaaaa;
	border-radius: 5px;

	margin: 10px;
	padding: 10px;
}

.imagePreview {
	max-width: 100%;
	height: auto;
}

@media (prefers-color-scheme: dark){
	body { color: #fff; background: #000 }
	a:link { color: #cdf }
	a:hover, a:visited:hover { color: #def }
	a:visited { color: #dcf }
}

body {
	position: relative;
	margin: lem auto;
	padding: 0 .62em;
	font: 1.2em/1.62 sans-serif
}

.fccontainer {
	position: relative;
	align-items: center;
}

.filechooserBtn {
	position: absolute;
	padding: 10px;
	background-color: #00ee11;
	border-width: 5px;
	border-color: #aaaaaa;
	border-radius: 5px;
	z-index: 1;
}

.filechooserWidget {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	z-index: 2;
	margin-top: -3em;
	width: 100px;
}

h1, h2, h3 {
	line-height: 1.2;
}

@media print{
	body {
		max-width: none;
	}
}
