html {
	text-align: center;
}

body {
	position: relative;
	margin: lem auto;
	padding: 0 .62em;
	font: 1.2em/1.62 sans-serif;
}

.fileContainer {
	border-width: 5px;
	border-style: solid;
	border-color: #aa00aa;
	border-radius: 1em;

	margin-bottom: 1em;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.filelink {
	display: flex;
	size: 1em;
	padding: 0;
	margin: 0;
}

.fileinfobox {
	padding: 0;
	margin-top: -3.7em;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sizestamp {
	display: inline-block;
	width: 100%;
	text-align: left;
}

.timestamp {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.imagePreview {
	display: inline-block;
	grid-column: span 3;
	grid-row: 2 2;
	margin: 1em;
	max-width: 100%;
	height: auto;
}

@media (max-width: 800px) {
	.filelink {
		margin-top: -1em;
	}
	.fileinfobox {
		flex-direction: column;
		margin-top: -1em;
	}
	.timestamp, .sizestamp {
		text-align: center;
		margin: 0;
		padding: 0;
	}
}

@media (prefers-color-scheme: dark) {
	body { color: #fff; background: #000 }
	a:link { color: #cdf }
	a:hover, a:visited:hover { color: #def }
	a:visited { color: #dcf }
	.filechooserBtn { color: #000000 }
}

.fccontainer {
	position: relative;
	align-items: center;
}

.filechooserBtn {
	position: absolute;
	width: 100px;
	height: 30px;
	padding: 10px;
	background-color: #00ee11;
	border-radius: 5px;
	margin-left: -10px;
	z-index: 1;
}

.filechooserWidget {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	z-index: 2;
	margin-top: -3em;
	width: 100px;
}

h1, h2, h3 {
	line-height: 1.2;
}

@media print {
	body {
		max-width: none;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinner {
	display: none;
	margin-top: 2em;
	width: 2em;
	height: 2em;
	border-width: 0.5em;
	border-color: #009999;
	border-radius: 50%;
	border-style: dotted;

	animation: 1.5s linear infinite spinner;
	animation-play-state: inherit;
	will-change: transform;
}
